html, body {
    font-size: 100%; /*set base rem unit to 10*/
    font-family: 'arial';
    /*height: 100%;*/
}

.temp_hidden {
    /* display: none;*/
}

/****** Page Layout *******/
* {
    box-sizing: border-box;
}

/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}

/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;

}

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/

#top {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008080;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 50px;
}

#wrapper {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -50px;
    padding-top: 50px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

#left,
#main,
#right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#left {
    width: 12.5rem;
}

#main {
    flex: 1;

}

#right {
    width: 12.5rem;

}

/* newlayout
#wrapper {height: 100%;}
#stillRequiredList {height: 100%;}
*/

/* left column */
#left {
    background-color: #f3f2f2;
    /* newlayout
    width: 18%;
    float: left;
    position:relative;
    margin-right:.25%;
    padding: .5%
    */

}

/* column wrapping middle and right columns */
/* newlayout
#col23 {
background-color: white;
width: 80%;
float: right;
position:relative;

height: 100%;
}
*/

#main {
    background-color: #f3f2f2;
    /* newlayout
    position:relative;
    float:left;
    width: 74%;
    padding: .5%
    */
}

#right {
    background-color: #f3f2f2;
    /* newlayout

    position:relative;
    float:right;
    width:23%;
    margin-left: .25%;
    padding: .5%;
    height: 100%;
    */

}

/* not currently used */
.center {
    margin-left: auto;
    margin-right: auto;
}

/* use a media query later to stop at a minimum size */

tr.space_under > td {
    padding-bottom: 10px;
}

th {
    padding-bottom: 10px;
}

/************ ***********/

/********* Requirement Box Styling ***********/

/* all course boxes no matter where: includes  */
/* Requirements boxes anywhere will be in "req_box" class */
/* Requirements boxes showing on left as either complete,
   partial, planned, or incomplete will be
    in class "required_course"
    with "req_complete", "req_completePlanned", "req_partial", "req_planned",
     or "req_incomplete" */
/* Note: ALl reqs show on left */

/* Requirements boxes showing on right as incomplete will
   be in class "req_working" */
/* Note: Only reqs that are incomplete or partially
   incomplete show on right */
/* Note: Some boxes on right may be highlighted with class
    "eligible now" based on chosen semester */

/* Requirements boxes showing in middle will be in class
    "req_on_plan" */
/* Note: left and middle are complementary, overlap when
    req is partially planned */

/** course counting or course planned sub boxes **/
.req_box > select {
    font-size: .8rem;
}

span.course_box {
    background-color: #D8D8D8;
    color: black;
    font-size: 0.8rem;
}

span.course_counting {
    /*background-color:#e0e0eb;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    z-index: 999;
    /* for showing span only as long as contents but not wrapping */
    display: inline-block;
    margin-bottom: 4px;
}

span.course_counting_planned {
    /* background-color:orange;*/
    background-color: #FFE0CC;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    z-index: 999;
    /* for showing span only as long as contents but not wrapping */
    display: inline-block;
    margin-bottom: 4px;
}

/* Requirements boxes are in divs */
/********* General styling for all requirements boxes ***********/
div.req_box {
    background-color: #F8F8F8; /* lightest gray */
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px;
    z-index: 999;
    /* for showing span only as long as contents but not wrapping */
    display: block;
    margin-bottom: 4px;
}

select {
    margin-left: 5px;
}

/*
span.foundation {
color: green;
}
span.major {
color: blue;
}
span.complete {
color: orange;
}

*/

span.eligible_now {
    background-color: #b3b3bc;
    /* add more to make it stand out and add more gray out to the non eligible */
}

/******** on left ******/
div.req_box header {
    /*padding: 3px;*/
    padding-bottom: 1px;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: .9rem;
}

div.req_complete {
    color: white;
    /*  background-color: #E6F5EB;  light green */
    /* background-color: #009933;  dark green */
    background-color: darkgray;

}

div.req_completePlanned {
    color: white;
    /* background-color: #FFE0CC; light orange */
    background-color: #FF6600; /* dark orange */
}

/* some courses planned toward requirement but still not complete */
div.req_partialPlanned {
    background-color: #FFE0CC; /* light orange */
    color: white;
}

/*no longer used? */
div.req_partial {
    color: black;
    background-color: #F8F8F8;
}

/* incomplete and nothing on plan toward it */
div.req_incomplete {
    color: black;
    background-color: #F8F8F8;
}

/* on right if planned -- keep them on right too but hidden */
div.req_been_planned {
    background-color: lightgray; /*light orange */
    border-color: gray;
    color: white;
    /*display: none;*/

}

div.req_working {
    color: white;
    background-color: #008080; /* teal */
}

/*******************/

/*********  Styling for  requirements boxes ON PLAN **********/

div.req_on_plan {
    background-color: #ecbd16;
    margin: 2px;

    /* to fill up row-1 course per row */
    display: block;

}

/*******************/

/*********  Styling for  semester PLAN boxes **********/

div.semester_block header.semester_name {
    background-color: lightgray;
    padding: 4px;
    font-size: .85rem;
}

div.semester_block {
    background-color: white;
    height: 16rem;
    width: 10.25rem;
    border-style: dotted;
    border-width: 1px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

}

div.semester_block footer {
    text-align: right;
    border-top: 1px solid black;
}

/* actual droppable part */
div.semester_plan {
    height: 13rem;
    width: 10rem;

}

/* when hovering over droppable */
/*
div.semester_plan.over {
  border: 2px dashed #000;
}
*/
.highlight_drop {
    border-style: dashed;
    border-width: 2px;
    border-color: red;
}

/* during drag */

/********** Styling for Requirements Boxes IN MOTION ********/
/** used? **/
span.drag_helper {
    background-color: yellow;
}

span.ui-draggable-dragging {
    background-color: yellow;
    box-shadow: 5px 5px 2px #888888;
}

/********* *********/

select.single {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

span.stats {
    font-size: .7rem;
    display: block;
    text-align: right;
}

.req_complete span.stats {
    color: green;
}

.req_completePlanned span.stats {
    color: orange;
}

.req_partialPlanned span.stats {
    color: red;
}

.req_incomplete span.stats {
    color: red;
}

div.taken, div.planned, div.options {
    font-size: .75rem;
}

.req_on_plan div.options {

}

.req_on_plan div.taken {
    display: none;
}

.req_on_plan div.planned {
    display: none;
}

.req_on_plan span.stats {
    display: none;
}

.req_working div.options {

}

.req_working div.taken {
    display: none;
}

.req_working div.planned {
    display: none;
}

#main {
    overflow: auto;
}

#eligibleSwitch {
    font-size: .8rem;
}

#eligibleSwitch select {
    width: 100%;
    margin-bottom: 5px;
}